<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.summary | default: site.description }}">
    <script>document.documentElement.classList.add("js");</script>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <main id="main" class="site-main">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
